<div style="text-align:center">
    
    <H1>Quote Room</H1>
    <app-quote-form></app-quote-form>
  <h1>
   {{ title }}
</h1>
   <hr>
</div>
<h2>Quotes</h2>
<ul>
  <li>
      “You’re only here for a short visit. Don’t hurry, don’t worry. And be sure to smell the flowers along the way.” —Walter Hagen    </li>
  
  
  <li>
      “I think being in love with life is a key to eternal youth.” —Doug Hutchison
  </li>

  <li>
      “However difficult life may seem, there is always something you can do and succeed at.” —Stephen Hawking
  </li>

      <li>
          “Life is like riding a bicycle. To keep your balance, you must keep moving.” —Albert Einstein  
          </li>
          <li>
              “The more you praise and celebrate your life, the more there is in life to celebrate.” —Oprah Winfrey

              </li>
              <li>
                  “The most important thing is to enjoy your life—to be happy—it’s all that matters. —Audrey Hepburn
                  </li>
                  <li>
                      “I enjoy life when things are happening. I don’t care if it’s good things or bad things. That means you’re alive.” —Joan Rivers
                      </li>
                      <li>
                          “Life is short, and it is up to you to make it sweet.” —Sarah Louise Delany 
                          </li>
                          <li>
                              “Life doesn’t require that we be the best, only that we try our best.” —H. Jackson Brown Jr.
                              </li>
                  
                              
                                      
</ul>

<a href="https://www.success.com/17-quotes-about-living-a-beautiful-life/" target="_blank">Read more</a>
