<div style="text-align:center">
    
    <H1>Quote RooM</H1>

    <app-quote-form></app-quote-form>
  <h1>
   {{ titl }}
</h1>
  
</div>
<div class="container">
<h2>Quotes</h2>

<ul>
  <li>
      “You’re only here for a short visit. Don’t hurry, don’t worry. And be sure to smell the flowers along the way.” —Walter Hagen    </li>
  
  
  <li>
      “I think being in love with life is a key to eternal youth.” —Doug Hutchison
  </li>

  <li>
      “However difficult life may seem, there is always something you can do and succeed at.” —Stephen Hawking
  </li>

      <li>
  
                              <a href="https://www.success.com/17-quotes-about-living-a-beautiful-life/" target="_blank" style="color: blue">Read more</a>

                                      
</ul>


</div>
