<div class="container">
  <div class="row">
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>

      <div class="form-group">
        <label>
          <strong>Author</strong>
        </label>

        <input type="text" required #author="ngModel" [class.is-invalid]="author.invalid && author.touched" name="author" class="form-control"
          [(ngModel)]="userAuthor" placeholder="Enter your name">
        <small class="text-danger" [class.d-none]="author.valid || author.untouched">Name is require</small>

      </div>

      <div class="form-group">
        <label>
          <strong>Quote</strong>
        </label>
        <textarea class="form-control" required #quote="ngModel" [class.is-invalid]="quote.invalid && quote.touched" rows="4" name="Quote"
          [(ngModel)]="userQuote"></textarea>
        <small class="text-danger" [class.d-none]="quote.valid || quote.untouched">Quote required</small>

      </div>
     
      
      <div class="form-group">
        <label>
          <strong>Date</strong>
        </label>
        <input type='Date' required #Date="ngModel" [class.is-invalid]="Date.invalid && Date.touched" class="form-control" name="Date"
          [(ngModel)]="userDate">
        <small class="text-danger" [class.d-none]="Date.valid || Date.untouched">Date is required</small>

      </div>
      <div>
        <button class="btn btn-primary" type="Submit">submit</button>
      </div>
    </form>
  </div>
</div>
