<div class="container">
    <div class="row">
        <form (ngSubmit)='submitQuote()' #quoteForm="ngForm">
        <!-- Name Form -->
            <div class="form-group">
               
                <label><strong>Author</strong></label>
           
                <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" 
                name="Author" class="form-control"  [(ngModel)]="Quote.Author" placeholder="Enter you name">
            </div>  
            <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is require</small>
            <!-- Description Input -->
            <div class="form-group">
                    <label><strong>Quote</strong></label>
                <textarea class="form-control" required #quote="ngModel"[class.is-invalid]="quote.invalid && quote.touched" rows="4" name="Quote"[(ngModel)]="Quote.Quotes"></textarea>
            </div>
            <small class="text-danger" [class.d-none]="quote.valid || name.untouched">Quote required</small>
            <!-- Date Input -->
            <div class="form-group">
                <label><strong>Date</strong></label> 
                <input type='date' required #date="ngModel" [class.is-invalid]="date.invalid && date.touched"class="form-control" name="date" [(ngModel)]="Quote.Date">
            </div>
            <small class="text-danger" [class.d-none]="date.valid || date.untouched">Date is required</small>
            <div>
            <button  class="btn btn-primary" type="Submit">submit</button>
        </div>
        </form>
    </div>
    </div>
 